body {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.header,.top-section {
	background-color: #1F2937;
	color: white;
}

.header {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

.logo,.header-links {
	flex: 0 1 33%;
}

.header-links {
	display: flex;
	flex-flow: row;
	gap: 15px;
	list-style-type: none;
}

.top-section {
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.statement {
	display: flex;
	flex-flow: column;
	flex: 0 1 33%;
}

.top-section img {
	flex: 0 1 33%;
}
